<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add a Combatant</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= render 'shared/error_messages' %>
    <%= form_with model: @combatant do |f| %>
      <div class="modal-body">
        <%= f.label :name %>
        <%= f.text_field :name %><br>
        <%= f.label :current_hp, "Current HP" %>
        <%= f.text_field :current_hp, value: nil %><br>
        <%= f.label :initiative %>
        <%= f.text_field :initiative, value: "+0" %><br>
        <%= f.label :quantity %>
        <%= f.text_field :count, value: "0" %><br>
        <%= f.hidden_field :combat_id, :value => params[:id] %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Create Combatants", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
