<p id="notice"><%= notice %></p>

<h1>Combatants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combatants.each do |combatant| %>
      <tr>
        <td><%= link_to 'Show', combatant %></td>
        <td><%= link_to 'Edit', edit_combatant_path(combatant) %></td>
        <td><%= link_to 'Destroy', combatant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Combatant', new_combatant_path %>
