<!DOCTYPE html>
<html>
  <head>
    <title>Combat Master</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" data-backdrop="false"></div>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do | message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
